#**Data Types and Structures Questions**
1. What are data structures, and why are they important?
--> Data structure is the way of organizing and storing data so that it can be accesed and manipulated effeciently.
They important because:
1.Faster access
2.Better Organization
3.Saves memory and time
4.Solves problems effeciently

2.  Explain the difference between mutable and immutable data types with examples?
-->
*   Mutable - changable
The data that can be change after it was created.
eg: my_list = [1, 2, 3]
my_list.append(4)   
# Now it's [1, 2, 3, 4]

*   Imutable - Unchangable
The data which cannot change after it was created.
eg: my_string = "hello"
my_string[0] = "H"  
# This will give an error

3. What are the main differences between lists and tuples in Python?
--> **Lists**
You can store anything in list, can store heterogenous data
List is an ordered collection of elements that can be of any data type.
List are mutable.
**Tuplers**
Tuples are immutable.
Tuples can store heterogeneous.
Once it created, the items in a tuple cannot be changed.

4. Describe how dictionaries store data.
--> It stores data in pairs:
One part is the key (like a name or label)
The other part is the value (the actual data)

5. Why might you use a set instead of a list in Python?
--> A set is like a bag of unique items — no duplicates allowed.
sets are unordered collection of unique elements.
No concept of indexing as sets are unordered and unique.

6. What is a string in Python, and how is it different from a list?
--> Characters arranged in an unchangeable order(immutable). Consider writing a sentence, a paragraph, or a piece of material.
message = "hello"
This is a string. Its made of characters: 'h', 'e', 'l', 'l', 'o'
A list is like a collection or box that can hold anything — numbers, words, or even other lists.
items = ["apple", 42, True]

This list has:
a string ("apple")
b number (42)
c boolean (True)

7. How do tuples ensure data integrity in Python?
--> Tuples are immutable.
Tuples can store heterogeneous.
Once it created, the items in a tuple cannot be changed.

Data integrity means:

*   The data stays safe and doesn't accidentally change.
*   You can't change them.
*   Safer to share.
*   Good for fixed data.

8. What is a hash table, and how does it relate to dictionaries in Python?
--> A hash table is a way to store data so you can find it very fast.
A dictionary in Python uses a hash table behind the scenes.
eg:
my_dict = {"apple": 3, "banana": 5}
*  "apple" is the key
*   3 is the value

9. Can lists contain different data types in Python?
--> Lists in Python can hold different types of data all in one list.
eg: my_list = ["apple", 42, 3.14, True]

This list contains:
* A string: "apple"
* An integer: 42
* A float: 3.14
* A boolean: True

10. Explain why strings are immutable in Python?
--> Strings are immuatble because:
* You can't change its characters directly.
* If you want to change it, you have to make a new string.

11. What advantages do dictionaries offer over lists for certain tasks?
--> Advantages:
1. Faster lookups: Dictionaries allow you to find values quickly using keys.
2. Meaningful keys: You can use descriptive keys (e.g., names, IDs) instead of indexes.
3. Flexible data structure: Dictionaries can store various data types and structures.

12. Describe a scenario where using a tuple would be preferable over a list.
--> 1. Constants: Tuples are perfect for storing constant values that shouldn't be modified.
2. Data integrity: Tuples ensure data remains unchanged, preventing accidental modifications.
eg:
DAYS_OF_WEEK = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

13. How do sets handle duplicate values in Python?
--> 1. No duplicates allowed: Sets only store unique values.
2. Duplicates are ignored: If you try to add a duplicate value, the set will ignore it.
eg:
my_set = {1, 2, 2, 3, 3, 3}
print(my_set)
<< Output: {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries.
--> The in keyword helps you check for existence in lists and dictionaries.
 **Lists**
- Checks if a value exists in the list.
**Dictionaries**
- Checks if a key exists in the dictionary.
eg:

my_list = [1, 2, 3]
print(2 in my_list)  
<<Output: True

my_dict = {"name": "John", "age": 30}
print("name" in my_dict)
<< Output: True
print("John" in my_dict)  
<<Output: False (because "John" is a value, not a key)

15. Can you modify the elements of a tuple? Explain why or why not?
--> No, you cannot modify the elements of a tuple.
Why:
1. Tuples are immutable: Tuples are designed to be unchangeable.
2. Error if trying to modify: Attempting to modify a tuple will raise a TypeError.
eg:
my_tuple = (1, 2, 3)
try:
    my_tuple[0] = 10
except TypeError:
    print("Tuples are immutable!")
Tuples are meant for storing constant or unchanging data.

16. What is a nested dictionary, and give an example of its use case?
--> A nested dictionary is a dictionary that contains another dictionary as a value.
Example:
person = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York",
        "state": "NY"
    }
}
You can access nested dictionary values like this: person["address"]["city"]

17. Describe the time complexity of accessing elements in a dictionary.
-->
*  Fast lookup: Dictionaries use keys to access values quickly, making lookups very efficient.
*  Average constant time: Regardless of the dictionary size, lookups usually take the same amount of time.

18. In what situations are lists preferred over dictionaries?
--> Situations:
*  Ordered data: When the order of elements matters.
*  Index-based access: When you need to access elements by their index (position).
*  Duplicate values: When you need to store duplicate values.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
--> Dictionaries were considered unordered because the order of key-value pairs was not guaranteed.
Effect on data retrieval:
*  No reliance on order: You should access dictionary values using keys, not relying on a specific order.
*  Fast lookup: Dictionaries provide fast lookup, regardless of order.

This makes dictionaries suitable for applications where fast data retrieval is crucial, and order may or may not matter.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
--> List:
- Access elements by index (position)
- Example: my_list[0]

Dictionary:
- Access elements by key (unique identifier)
- Example: my_dict["name"]

Lists are ideal for ordered data, while dictionaries are perfect for fast lookups using meaningful keys.

# **Practical Questions**

In [2]:
# 1. Write a code to create a string with your name and print it.

my_name = "Divyanshi"
print("My name is:", my_name)

My name is: Divyanshi

In [3]:
# 2. Write a code to find the length of the string "Hello World".
a = "Hello World"
print(len(a))

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
first_three = text[:3]
print("The first 3 characters are:", first_three)

The first 3 characters are: Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
a = "hello"

# Convert to uppercase
uppercase_text = a.upper()
print("Uppercase version:", uppercase_text)

Uppercase version: HELLO

In [8]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple".
a = "I like apple"

# Replace "apple" with "orange"
new_string = a.replace("apple", "orange")
print("New string:", new_string)

New string: I like orange

In [9]:
# 6.  Write a code to create a list with numbers 1 to 5 and print it.
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
a = [1, 2, 3, 4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
a = [1, 2, 3, 4, 5]
a.remove(3)
print(a)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
print(a[1])

b

In [13]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]
a = [10, 20, 30, 40, 50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
a = (100, 200, 300)
print(a)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
a = ('red', 'green', 'blue', 'yellow')
print(a[-2])

blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
a = (10, 20, 5, 15)
print(min(a))

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
a = ('dog', 'cat', 'rabbit')
print(a.index('cat'))

1

In [18]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
a = ('apple', 'banana', 'orange')
print('kiwi' in a)

False

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
a = {'a', 'b', 'c'}
print(a)

{'a', 'b', 'c'}

In [21]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [22]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [23]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [25]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [26]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
a = {"name": "Divyanshi", "age": 25, "city": "Lucknow"}
print(a)

{'name': 'Divyanshi', 'age': 25, 'city': 'Lucknow'}

In [27]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
a = {'name': 'John', 'age': 25}
a["country"] = "USA"
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
a = {'name': 'Alice', 'age': 30}
print(a["name"])

Alice

In [29]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
a = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del a["age"]
print(a)

{'name': 'Bob', 'city': 'New York'}

In [30]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
a = {'name': 'Alice', 'city': 'Paris'}
print("city" in a)

True

In [31]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
a = [1, 2, 3]
b = (4, 5, 6)
c = {"name": "Divyanshi", "age": 25, "city": "Lucknow"}

In [33]:
'''
27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
'''
import random
a = [random.randint(1, 100) for _ in range(5)]
a.sort()
print(a)

[10, 41, 42, 53, 67]

In [34]:
# 28.  Write a code to create a list with strings and print the element at the third index
a = ["apple", "banana", "orange", "grape", "kiwi"]
print(a[3])

grape

In [35]:
# 29. Write a code to combine two dictionaries into one and print the result
a = {"name": "Divyanshi", "age": 25}
b = {"city": "Lucknow", "country": "India"}
a.update(b)
print(a)

{'name': 'Divyanshi', 'age': 25, 'city': 'Lucknow', 'country': 'India'}

In [36]:
# 30.  Write a code to convert a list of strings into a set
a = ["apple", "banana", "orange", "grape", "kiwi"]
b = set(a)
print(b)

{'banana', 'grape', 'apple', 'orange', 'kiwi'}

**Finished**